.layout-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    /* padding: 2rem; */
}

/* Reset styles for login page */
.login-page {
    margin: 0;
    padding: 0;
}

.login-page .main-content {
    margin-left: 0;
    padding: 0;
}
