html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    margin-left: 250px;
    background-color: #ffffff;
}

.content {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
